$blue : #0076ff;
$gray-light : #e5e5e5;
$gray : #b2b2b2;
$offwhite: #fafafa;
$background: #efeff4;
$red:#fe3824;

html,body{
  overflow-y: hidden;
  position: fixed;
  overscroll-behavior-y: none;
}

*{
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif !important;
}

button,.fab,.action-sheet-button,
div[role="button"],.button{
  cursor: pointer !important;
}

.handleArea{
  cursor: grab;
}

.react-draggable-dragging{
  .handleArea{
    cursor: grabbing;
  }
}

.danger{
  color:$red;
}

@mixin for-phone {
  @media (max-width: 765px) { @content; }
}
@mixin for-tablet {
  @media (min-width: 768px) { @content; }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1{
  margin-top:10px;
  margin-bottom: 10px;
}

h2{
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin:0 !important;
}

h3{
  margin:0 !important;
}

.toolbar{
  background-color: white;
  height: initial;
  min-height: 90px;
  width: 100%;
  z-index: 100;
  top: 0;

  .tabletHeader{
    display: flex;
    justify-content: space-between;

    >div{
      display: flex;
      align-items: center;
    }
  }

  *{
    display: flex;
    align-items: flex-end;
  }

  .right{
    justify-content: flex-end;
    padding: 0 10px 5px 0;
    display: none;
  }

  .left{
    padding: 0 0 0 20px;
  }
}

@include for-tablet{
  .left{
    min-width: 400px;
    max-width:400px;
  }


}

.loggedin {
  .toolbar__right{
    display: flex;
  }
}

.tabWrapper{
  position: fixed !important;
  //pointer-events: none;
}

.page__content{
  margin-top:88px !important;
}

.LogoHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  .iqbit{
    font-size: 45px !important;
    font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    font-weight: 400;
    margin-bottom: 0 !important;
    padding-bottom: 0;
  }

  .poweredBy{
    font-size: 20px !important;
    font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    font-weight: 400;
    opacity: .5;
    margin: 0;
  }
}


.torrentsCol{
  padding-bottom: 15vh;
  overscroll-behavior-y:none;

  .torrentBox{
    background-color: $offwhite;
    width: 100%;
    padding:20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-bottom: .5px solid $gray;
    border-top: .5px solid $gray;

    h3{
      padding-bottom: 30px;
      max-height: 100px;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;

      &.centered{
        text-align: center;
      }
    }

    .stats{
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;

      > * {
        font-size: 18px;
        font-weight: bold;
      }

      > *:first-child {
        color: $blue;
      }

      > *:nth-child(2) {
        color: $gray;
      }
    }

    .details{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .statsRow{
        display: flex;
        align-items: center;
        height: 100%;

        .data {
          color: darken($gray,40%);
          margin-right: 15px;
          font-size: 14px;
        }

        .ons-icon{
          margin-right: 3px;
        }

      }

      .buttonsRow{
        display: flex;
        justify-content: space-between;
        padding-top: 5px;

        button{
          flex-grow: 2;
          min-width: 50px;
          background: none;
          border: none;

          &:focus{
            background-color: initial;
            color: initial;
            outline: none;
            border-radius: initial;
          }

          &:active{
            background-color: $blue;
            color: white;
            outline: none;
            border-radius: 5px;
          }
        }

        button:nth-child(2){
          border-color: $gray-light;
          border-style: solid;
          border-width: 0 1px 0 1px;
        }

        button.active{
          background-color: $blue;
          color: white;
          outline: none;
          border-radius: 5px;
        }
      }
    }

    &:not(.login):first-child{
      margin-top: 20px;
    }

    &.login{
      background-color: transparent;
      align-items: center;
      justify-content: center;
      margin-bottom: 0!important;
      border:none;

      h2{
        text-align: center;
        margin-bottom: 20px !important;
      }
    }

    .inputGroup {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid $gray;
      border-radius: 10px;
      margin-bottom: 20px;
      background-color: white;

      label{
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 10px 10px;
        font-size: 16px;
        font-weight: bold;

        span{
          width: 100px;
        }

        input{
          flex-grow: 2;
          border:none;
          font-size: 16px;
          margin-left: 5px;
          width: 70%;
          background-color: transparent;

          &::placeholder{
            color: $gray;
          }
        }

      }

      label:not(:first-child){
        border-top: 1px solid $gray;
      }
    }

    .headerToAdd{
      padding:10px;
      border-radius: 10px;
      background-color: $gray-light;
      display: block;
    }

    .feedback{
      text-align: center;
    }
  }
}

.login {
  .torrentsCol{
    @include for-tablet{
      background-color: white;
      height: 100%;
    }
  }
}

.segmentPicker{
  padding:20px;
}

.torrentControls{
  padding:20px;
  display: flex;
  align-items: center;

  h2{
    flex-grow: 4;
  }
}

.loginImage{
  max-width: 125px;
  height: auto;
}

.loginImage-small{
  max-width: 50px;
  height: auto;
  margin-right: 5px;
}

.progress-bar{
  height:4px
}

.progress-bar__secondary{
  background-color: lighten($blue,40%) !important;
}

.tabletView{
  display: flex;
  height:calc(100vh - 88px);

  .torrentsCol{
    min-width: 400px;
    max-width: 400px;
    border-right: .5px solid $gray;
    box-sizing: border-box;
    overflow-y: scroll ;
  }

  .torrentsCol.login{
    background-color: white;
  }

  .searchCol{
    flex-grow: 2;
    height:100%;
    box-sizing: border-box;
    overflow-y: scroll ;
    overscroll-behavior-y:none;
  }
}

.searchWrap{
  padding: 30px 20px;
  box-sizing: border-box;
}

.action-sheet-mask,.alert-dialog-mask,.popover-mask {
  background-color: rgba(0,0,0,.5);
}

.action-sheet{

  @include for-tablet{
    max-width: 500px;
    margin:0 auto;
  }

  .action-sheet-button{
    background-color: white !important;

    &:active{
      background-color: #c9c9c9 !important;
    }
  }
}

.installed{
  .action-sheet{
    margin-bottom: 30px;
  }

  .tabbar{
    padding-bottom: 30px;
  }
}

//.root{
//  >*:not(.BottomSheet.open){
//    transform: scale(.5);
//  }
//}

.BottomSheet{

  .BottomSheetOverlay{
    transition: background-color ease-out .4s ;
  }

  *{
    white-space: normal;
  }

  &.open{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;

    .BottomSheetOverlay{
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 10000;
      background-color: rgba(0,0,0,.7);
    }
  }

  &.open .modal{
    transition: transform ease-out .4s;
  }

  .modal{
    transform: translate(0px, 30px);
    position: fixed;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    background: white none repeat scroll 0% 0%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 6px;
    height: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px ;
    transition: transform ease-out .2s;
  }

  .handleArea{
    padding-top: 20px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .handle{
    height: 10px;
    width: 50%;
    border-radius: 50px;
    margin-bottom: 30px;
    background-color: $gray-light;
  }
}

.react-draggable-dragging.modal{
     transition: none !important;
}

.torrentInfoCol{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  padding-bottom: 30vh;

  h2{
    font-size: 25px;
    padding-bottom: 12px;
  }

  h3{
    font-size: 22px;
  }


  @include for-tablet{
    h2{
      font-size: 35px;
    }
    h3{
      font-size: 32px;
    }
  }

  .stickyRow{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;

    .ProgressAmount{
      font-size: 18px;
      color: $blue;
      font-weight: bold;
    }
  }

  .infoStatsRowWrapper{
    margin-top: 20px;

    >p{
      box-sizing: border-box;
      margin:10px;
      white-space: normal;
    }

    .movieTrailer{
      margin: 10px;
      border: none;
      outline: none;
      width:calc(100% - 20px)
    }

    .infoTitleBox{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding-bottom: 10px;
      margin:0 10px;

      .ons-icon{
        color:$blue;
        margin-right: 5px;
      }
    }

    .infoStatsRow{
      display: flex;
      flex-wrap: wrap;
      box-sizing: initial;
      justify-content: center;

      .infoStatBox{
        margin: 10px 10px;
        padding: 15px;
        border-radius: 10px;
        box-sizing: content-box;
        background-color: lighten($gray-light,7%);
        flex-grow: 2;

        >div{
          display: flex;
          align-items: center;
          margin-top:5px
        }

        .attrBox{
          display: flex;
          flex-wrap: wrap;
          flex-grow: 2;

          .infoTorrentAttr{
            padding-right: 10px;
            margin-right: 10px;
            margin-bottom: 8px;
          }

          .infoTorrentAttr:last-of-type{
            border-right: none;
          }
        }

        .downloadBtn{
          margin-right: 0;
          margin-left: auto;
          min-width: 99px;
          display: none;
        }
      }

      svg{
        margin-right: 7px;
        color: $blue;
      }

      .downloadStarted{
        font-size: 30px;
      }

      .infoStat{
        font-size: 20px;
        margin:0;
      }

      @include for-tablet{
        .infoStat{
          font-size: 25px;
        }
      }

      .infoStatLabel{
        color:darken($gray,10%);
      }

    }
  }
}

.loggedin .downloadBtn{
  display: block !important;
}

.searchCol{
  padding: 20px;

  >p{
    margin-top: 5px;
    color: $gray;
  }

  .searchInputRow{
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 20px;
    z-index: 100;

    .searchInput{
      flex-grow: 4;
      margin-right: 20px;

      *{
        background-color: rgba(222, 222, 222, 0.95);
        font-size: 18px !important;
      }
    }


    input{
      transition: all ease-out .15s;
      height: 40px;
    }

    input:focus{
      opacity: 1;
    }

    input::placeholder{
      font-size: 18px !important;
    }
  }

  .searchResults{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 300px;

    .MoviePoster {
      border: none;
      outline: none;
      width: 145px;
      height: 225px;
      margin: 0 10px 20px;
      background-size: cover;
      box-shadow: 0 3px 6px rgba(0,0,0,.5);
      transition: all ease-out .15s;
      background-color: #bababa;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      border-radius: 10px;
      overflow: hidden;


      @include for-tablet {
        width: 175px;
        height: 260px;
        margin: 0 17px 34px;
      }

      >span{
        display: block;
        padding: 10px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        background-color: rgba(0,0,0,.7);
        border-radius: 10px;
        position: relative;
        top: 40%;
        transition: all ease-out .2s;

        @include for-phone {
          top:0
        }
      }
    }

    .MoviePoster:hover{
      transform: translateY(-5px);
      background-color: #e2e2e2;
      box-shadow: 0 8px 13px rgba(0,0,0,.3);

      >span{
        top:0;
      }
    }
  }
}

.providerRow,.categoriesRow{
  display: flex;
  margin: 10px -20px;
  padding:5px 40px 5px 20px;
  overflow-x: scroll;

  .providerBox,.categoryBox{
    outline: none;
    border: none;
    margin-right: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all ease-out .2s;
    cursor: pointer;

    &:hover,&.active{
      box-shadow: 0 3px 2px rgba(0,0,0,.15);
    }

    &.active{
      border: solid $blue 3px;
    }

    &:active{
      opacity: .4;
      box-shadow: none;
    }

    p{
      margin: 0;
    }
  }
}

.fab,.fab__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.popover{
  filter: drop-shadow(0 6px 6px rgba(0,0,0,.5));

  .popover__content{
    padding:15px 15px 5px;
    width: 500px;
    box-sizing: border-box;

    p{
      margin-top: 0;
      font-weight: bold;
    }
  }
}

.popover, .modalAddTorrent{
  textarea{
    margin: 15px 0;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: 1px solid $gray;
    border-radius:5px;
  }
}



.modalAddTorrent{
  width: 100%;
  box-sizing: border-box;
}

.settingsCol{
  padding: 30px 5% 25vh;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;

  >*{
    width: 100%;
  }

  .list{
    border-radius: 10px;
    margin-left: 0;
    margin-bottom: 30px;
    border:none;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
  }

  .list-item{
    height:56px;
  }

  .iconBox{
    padding: 3px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right>svg{
    color:$gray
  }

  .inputPreview{
    color:$gray;
    margin-right: 3px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tabbar__item[label="Settings"]{
  display: none;
}

.loggedin{
  .tabbar__item[label="Settings"]{
    display: block;
  }
}


.settingsAlert .alert-dialog-footer{
  display: flex;
  flex-direction: row;

  .alert-dialog-button{
    width: 50%;

    &:first-of-type{
      border-right: 1px solid #ddd;
    }
  }
}

.alert-dialog-title{
  margin-bottom: 10px;
}

.alert-dialog-content{
  .text-input{
    padding: 3px;
    height: initial;
  }
}

ons-input,
textarea,
.settingsAlert input {
  margin-top: 5px;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 1px solid darken($gray,20%);
  margin-bottom: 10px;
  box-sizing: border-box;
}



//-------
//Overrides, nothing should be below these

.w100{
  width: 100%;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

